[project]
	description = Command line interface tool for accessing XING API written in Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Martin Kim Đưng-Phạm (q231950)
[access "refs/for/refs/*"]
	read = group user/Martin Kim Đưng-Phạm (q231950)
	push = group user/Martin Kim Đưng-Phạm (q231950)
	label-Code-Review = -2..+2 group user/Martin Kim Đưng-Phạm (q231950)
	label-Verified = -1..+1 group user/Martin Kim Đưng-Phạm (q231950)
	rebase = group user/Martin Kim Đưng-Phạm (q231950)
	removeReviewer = group user/Martin Kim Đưng-Phạm (q231950)
	submit = group user/Martin Kim Đưng-Phạm (q231950)
[access "refs/heads/*"]
	read = group user/Martin Kim Đưng-Phạm (q231950)
	create = group user/Martin Kim Đưng-Phạm (q231950)
	push = +force group user/Martin Kim Đưng-Phạm (q231950)
	pushMerge = group user/Martin Kim Đưng-Phạm (q231950)
[access "refs/tags/*"]
	push = +force group user/Martin Kim Đưng-Phạm (q231950)
	pushTag = group user/Martin Kim Đưng-Phạm (q231950)
	pushSignedTag = group user/Martin Kim Đưng-Phạm (q231950)
